
body {
    padding: 0;
    margin: 0;
    background-color: #ebf9f2;
    color: #000;
    font-family: 'Poppins', sans-serif;
}

nav {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    z-index: 10;
    border-bottom: 1px #515050 solid;
    background-color: rgba(165, 164, 164, 0.6);
    height: 65px;
    top: 8px;
}

nav .fa-solid {
    display: none;
}

.fa-solid {
    color: #000;
}

.brand-name {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
#sideMenu{
    padding-right: 120px;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 1px 20px;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.4s;
}

nav ul li a:hover::after {
    width: 100%;
}

.brand-name img {
    height: 50px;
    padding-left: 120px;
}

.tour-dropdown li {
    display: inline-block;
    list-style: none;
    margin: 10px 0;
    font-size: 18px;
}

.tour-dropdown {
    width: 7%;
    background: blanchedalmond;
    position: absolute;
    display: none;
    border-radius: 5px;
    padding: 10px 40px;
}

nav ul li:hover ul.tour-dropdown {
    display: block;
}

.brand-name img {
    width: 90px;
    height: 70px;
}

.brand-name {
    display: flex;
    flex-direction: row;
}
.head-temp{
    position: relative;
}
#head-img{
    width: 100%;
    height: 550px;
}
img{
    width: 100%;
    height: 500px;
}
.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #000;
    text-align: center;
    margin: 30px auto 50px auto;
}

.tab-titles {
    padding: 20px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: #a5a4a4;
    margin: 13px 0;
}

.tab-links {
    margin-right: 50px;
    font-size: 23px;
    font-weight: 500;
    position: relative;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #b54769;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

.temple-card-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.temple-title{
    color: rgb(15, 14, 14);
    font-size: 80px;
    position: absolute;
    top: 30%;
    left:10%;
   animation: 2s anim-lineUp ease infinite;
}
@keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
      color:#0d4c90;
      -webkit-text-stroke: #063d62 1px;
    }
    20% {
      opacity: 0;
      color:#1772b2;
      -webkit-text-stroke: #063554 1px;
  
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
      color:#01060bf9;
      -webkit-text-stroke: #092d45 1px;
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
      color:#010b13fc;
      -webkit-text-stroke: #fdfdfe 1px;
    }
  }

.temple-card {
    width: 45%;
    box-shadow: 0px 0px 10px 4px #a9a8a8;
    border: 2px solid #a9a8a8;
    background: #FFF;
    margin-bottom: 50px;
    padding-bottom: 15px;
    transition: box-shadow 0.5s;
}
.temple-card:hover{
    box-shadow: 0px 0px 10px 4px #031a44;
}

.temple-card img {
    height: 350px;
    cursor: pointer;
}

.temple-card h2 {
    margin: 10px 5%;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.temple-card p {
    margin: 10px 5%;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#learnMoreTab{
    position: absolute;
    width: 84%;
    height: auto;
    background: transparent;
    backdrop-filter: blur(50px);
    top: 100%;
    margin-left: 8%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px #a9a8a8;
    padding: 20px;
    display: none;
}
.closeLearn{
    position: absolute;
    left: -40px;
    top: -5px;
}
#learnMoreTab i{
    font-size: 40px;
    cursor: pointer;
}
#learnMoreTab img{
    width: 100%;
}
.imgChange{
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 55%;
    left: 37%;
}
.imgChange1{
    height: 80px;
    width: 60px;
    margin-left: 20px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.imgChange1:hover{
    transform: scale(1.07);
    transition: 0.2s;
}
.infor{
    margin-left: 30px;
    text-align: justify;
}
#learnMoreTab .infor h2{
    font-size: 30px;
    margin: 20px 0;
}
#learnMoreTab .infor button{
    font-size: 18px;
    margin-top: 20px;
    padding: 5px 25px;
    background: aquamarine;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px #a9a8a8;
    cursor: pointer;
    transition: 0.5s;
}
#learnMoreTab .infor button:hover{
    background: transparent;
}

@media screen and (max-width: 600px) {
    .brand-name img {
        padding-left: 50px;
    }
    nav .fa-solid {
        display: block;
        font-size: 25px;
        cursor: pointer;
        padding-right: 50px;
    }

    nav ul {
        background: #c9c6c6;
        position: fixed;
        top: -400px;
        width: 100%;
        height: auto;
        margin-top: 0;
        padding-top: 50px;
        transition: top 0.5s;
        left: -10px;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }   
    .tour-dropdown {
        position: absolute;
        position: fixed;
        z-index: 10;
    }

    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .tab-titles {
        flex-direction: column;
    }
    .tab-links{
        margin-bottom: 20px;
    }

    .tab-links.active-link::after {
        width: 25%;
    }

    .sub-title {
        font-size: 50px;
    }
    #head-img{
        height: 300px;
    }
    .temple-title{
        font-size: 50px;
        top: 20%;
    }


    .temple-card {
        width: 95%;
    }
    #changeTajImg{
        height: 300px;
    }
    .imgChange{
        top: 33%;
        left: 37%;
    }
    .imgChange1{
        height: 40px;
        width: 30px;
    }
    #learnMoreTab .infor h2{
        font-size: 20px;
    }
    #learnMoreTab .infor button{
        font-size: 13px;
    }
}